<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YoutubeToMp3</title>
    <link rel="stylesheet" href="" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="" th:href="@{/style2.css}"/>
    <!--    <link rel="stylesheet" href="style.css" />-->
    <!--    <link rel="stylesheet" href="style2.css">-->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
<img
        src="https://i.pinimg.com/originals/65/97/84/6597844008b4d00003b37c6319e26e62.gif"
        class="center"
        alt=""
/>

<div class="heading">
    <h1>Youtube To Mp3</h1>
    <p>Press The Title And Download will start</p>
</div>

<div id="cover">
    <a th:href="${apis.response()}" download="MP3"
    ><p th:text="${apis.getTitle()}" style="float: left"></p>

    </a>
</div>

<p class="foot">DEV - Ahmed Ajmine Nehal</p>
</body>
</html>
